.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; // to avoid size changing
  position: relative;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50%;
  font-size: 20px;

  $colors: 'pink', 'blue', 'yellow', 'green', 'purple', 'orange';

  @each $color in $colors {
    &--#{$color} {
      background-image: var(--avatar-#{$color});
    }
  }

  &--small {
    width: 30px;
    height: 30px;
  }
  &--medium {
    width: 54px;
    height: 54px;
  }
  &--large {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }
}
