.list-item {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &--selected {
    background-color: var(--c-primary) !important;

    .list-item__title,
    .list-item__subtitle,
    .list-item__title-right,
    .list-item__subtitle-right,
    .text-primary {
      color: #fff;
    }
    .icon path {
      fill: #fff !important;
    }

    .badge {
      background-color: #fff;
      color: var(--c-primary);
    }
  }

  &--menu-open,
  &:hover {
    background-color: var(--c-ripple);
  }

  &__info {
    flex: 1;
    min-width: 0; /* Додаємо, щоб правильно працювало обрізання тексту */
  }

  &__title {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3215;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Додаємо три крапки в кінці */
  }
  &__title-right {
    color: var(--c-font-secondary);
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;

    .icon path {
      fill: var(--c-primary) !important;
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    color: var(--c-font-secondary);
    font-size: 14px;
    line-height: 1.3215;
    min-width: 0;
    width: 90%;
    gap: 3px;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
