.list-item {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &--selected {
    background-color: var(--c-primary) !important;

    .list-item__title,
    .list-item__subtitle,
    .list-item__title-right,
    .list-item__subtitle-right {
      color: #fff;
    }
  }
  &:hover {
    background-color: var(--c-ripple);
  }

  &__info {
    flex: 1;
    min-width: 0; /* Додаємо, щоб правильно працювало обрізання тексту */
  }

  &__title {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3215;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Додаємо три крапки в кінці */
  }
  &__title-right {
    color: var(--c-font-secondary);
    font-size: 12px;
  }

  &__subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    color: var(--c-font-secondary);
    font-size: 14px;
  }
  &__subtitle-right {
    color: red;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
