.menu {
  position: absolute;
  z-index: 11;
  backdrop-filter: blur(12px);

  max-height: calc(100 * 1dvh - 4.75rem);

  height: max-content !important;
  width: max-content !important;
  min-width: 200px;

  padding: 5px;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.5rem 0.125rem var(--c-shadow-default);
  background-color: var(--menu-bg) !important;

  user-select: none;

  &.bottom-right {
    top: calc(100% + 8px);

    right: 0;
    left: auto;
  }

  &.bottom-left {
    top: calc(100% + 8px);
    left: 0;
    right: auto;
  }

  &.top-right {
    bottom: calc(100% + 8px);

    right: 0;
    left: auto;
  }

  &.top-left {
    bottom: calc(100% + 8px);

    left: 0;
    right: auto;
  }

  &__item {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    color: var(--c-font-primary);
    &:hover {
      background-color: var(--menu-hover);
    }

    &:active {
      transform: scale(0.97);
      transition: transform 0.15s ease-in-out;
    }
    &.danger {
      color: var(--c-danger);

      > .icon {
        path {
          fill: var(--c-danger) !important;
        }
      }
    }

    > .icon {
      // width: 20px;
      // height: 20px;
      margin-right: 10px;
      width: 18px;
      height: 18px;
    }
  }
  &__badge {
    color: var(--c-font-secondary);
    font-size: 14px;
  }
  &__title {
    flex: 1;
  }
  &__separator {
    border-top: 1px solid var(--c-border);
    opacity: 0.6;
    margin: 5px 0;
  }
}

.backdrop {
  position: fixed;
  top: -100dvh;
  right: -100dvw;
  left: -100dvw;
  bottom: -100dvh;
  z-index: 10;
}
