.spinner {
  &-inner {
    width: 48px;
    height: 48px;
    border: 3px solid var(--c-primary);
    border-bottom-color: transparent !important;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;

    animation: rotation 1s linear infinite;
  }

  &-medium {
    > .spinner-inner {
      width: 34px;
      height: 34px;
    }
  }
  &-large {
    > .spinner-inner {
      width: 48px;
      height: 48px;
    }
  }
  &-small {
    > .spinner-inner {
      width: 22px;
      height: 22px;
      border-width: 2px;
    }
  }

  &-primary {
    > .spinner-inner {
      border-color: var(--c-primary);
    }
  }
  &-yellow {
    > .spinner-inner {
      border-color: var(--c-warn);
    }
  }
  &-neutral {
    > .spinner-inner {
      border-color: var(--c-neutral-secondary);
    }
  }
  &-white {
    > .spinner-inner {
      border-color: white;
      border-width: 2px;
    }
  }
}
