@import 'reset';
@import 'animations';
@import 'variables';
@import 'partials';
@import 'typography';

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  // overscroll-behavior: none;
}
html,
body {
  font-family: var(--font-family);

  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Roboto',
    'Apple Color Emoji', 'Helvetica Neue', sans-serif;
  // --font-family: 'Roboto', -apple-system, BlinkMacSystemFont,
  //   'Apple Color Emoji', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans',
  //   'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollable,
.scrollable-x {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s ease;

  -webkit-overflow-scrolling: touch;

  pointer-events: auto;

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 12px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.01);
  }

  &:hover,
  &:focus,
  &:focus-within {
    scrollbar-color: var(--c-scrollbar) transparent;

    &::-webkit-scrollbar-thumb {
      background-color: var(--c-scrollbar);
    }
  }
}
.scrollable-x {
  overflow-x: auto;
  overflow-y: hidden !important;
}
.scrollable-y {
  overflow-y: auto;
  // padding-inline-start: 0.375rem;
  // padding-inline-end: 10px;
}
.scrollable {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

html:not(.is-ios) {
  .scrollable {
    &::-webkit-scrollbar {
      width: 0.375rem;
    }
    // padding-inline-start: 0.375rem;
  }

  .scrollable-x {
    &::-webkit-scrollbar {
      height: 0.375rem;
    }
  }
}
html.is-ios {
  // ios longtap
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.scrollable-hidden {
  scrollbar-width: none;
  // padding-right: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}
