.message-list {
  overflow-x: hidden;
  height: '100vh';
  overflow-y: 'auto';
  overflow-anchor: 'none';

  &.is-selecting {
    .message {
      &-content {
        user-select: none;
      }
      &-checkbox {
        opacity: 1;
      }
      &.incoming {
        transform: translate3d(2rem, 0, 0);
      }
      &.outgoing {
        > .message-checkbox {
          @include defaultTransition(transform, scale);
          transform: translate3d(2rem, -50%, 0);
        }
      }
      .avatar {
        @include defaultTransition(transform, scale);
        transform: scale3d(0.8, 0.8, 1) translate3d(0.3rem, 0, 0);
      }
    }
  }
}
