.icon {
  flex-shrink: 0;

  &-small {
    width: 18px;
    height: 18px;

    &.icon-check,
    &.icon-forwardFilled {
      width: 15px;
      height: 15px;
    }
  }
  &-medium {
    height: 24px;
    width: 24px;
  }

  &-secondary {
    path {
      fill: var(--c-icon-secondary) !important;
    }
  }

  &-default {
    path {
      fill: var(--c-icon-primary) !important;
    }
  }
  &-primary {
    path {
      fill: var(--c-primary) !important;
    }
  }
  &-red {
    path {
      fill: var(--c-danger) !important;
    }
    &.icon-arrowRight,
    &.icon-plus {
      stroke: var(--c-danger) !important;
    }
  }
  &-white {
    path {
      fill: #fff !important;
    }
    &.icon-arrowRight,
    &.icon-plus {
      stroke: #fff;
    }
  }
}
