.icon {
  flex-shrink: 0;

  &-small {
    &.icon--contained {
      padding: 6px;
      min-width: 24px;
      min-height: 24px;
    }
    width: 18px;
    height: 18px;

    &.icon-check,
    &.icon-forwardFilled {
      width: 15px;
      height: 15px;
    }
  }
  &-medium {
    height: 24px;
    width: 24px;

    &.icon--contained {
      padding: 6px;
      min-width: 30px;
      min-height: 30px;
    }
  }

  &-secondary {
    path {
      fill: var(--c-icon-secondary) !important;
    }
  }

  &-default {
    path {
      fill: var(--c-icon-primary) !important;
    }
  }
  &-primary {
    path {
      fill: var(--c-primary) !important;
    }
  }
  &-red {
    path {
      fill: var(--c-danger) !important;
    }
    &.icon-arrowRight,
    &.icon-plus {
      stroke: var(--c-danger) !important;
    }
  }
  &-white {
    path {
      fill: #fff !important;
    }
    &.icon-arrowRight,
    &.icon-plus {
      stroke: #fff;
    }
  }

  &--contained {
    background-color: var(--c-primary);
    border-radius: 50%;

    path {
      fill: #fff !important;
    }
  }
}
