.message {
  --message-gap: 5px;
  --message-margin-x: 35px;
  --message-avatar-size: 30px;
  position: relative;
  display: flex;
  margin-bottom: 5px;
  padding-inline: var(--message-margin-x);
  gap: var(--message-gap);
  align-items: flex-end;
  // transition: background-color 0.3s ease, opacity 0.3s ease;
  @include defaultTransition(transform, background-color, opacity);

  &::before {
    height: calc(100% + 5px);
    content: '';
    display: block;
    background-color: var(--c-ripple);
    opacity: 0;
    position: absolute;
    left: -50vw; // to make it full width strecthed
    right: -50vw;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
  }

  &.menu-open,
  &.is-selected {
    &::before {
      opacity: 1;
    }
  }

  &.is-selected {
    .message-checkbox {
      background-color: var(--c-primary);

      > .icon {
        @include withAnimations {
          animation: show-icon 0.3s forwards ease;
        }
      }
    }
  }
  &.outgoing {
    justify-content: flex-end;
    transform-origin: right;

    &.last-in-group {
      > .message-content {
        border-bottom-right-radius: 0;
      }
    }
    > .message-content {
      border-top-left-radius: 0.975rem;
      border-bottom-left-radius: 0.975rem;
      // border-bottom-right-radius: 0;
      // border-bottom-left-radius: 0;

      > .message-arrow {
        display: block;
        fill: var(--c-message-bg);
        right: -9px;
        transform: translateY(1px) scaleX(-1);
      }
    }
  }
  &.incoming {
    --c-message-bg: var(--c-surface);
    --c-message-info: var(--c-font-secondary);

    justify-content: flex-start;
    transform-origin: left;

    &.last-in-group {
      > .message-content {
        border-bottom-left-radius: 0;
      }
    }

    &.first-in-group {
      > .message-content {
        border-top-left-radius: 0.975rem;
      }
    }

    > .message-content {
      border-top-right-radius: 0.975rem;
      border-bottom-right-radius: 0.975rem;
      // border-bottom-left-radius: 0;

      > .message-arrow {
        display: block;
        fill: var(--c-surface);
        left: -9px;
        transform: translateY(1px);
      }
    }
  }
  &.highlighted {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:not(.last-in-group) {
    padding-left: calc(
      var(--message-gap) + var(--message-margin-x) + var(--message-avatar-size)
    );
  }

  &-content {
    background-color: var(--c-message-bg);
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 0.375rem;
    position: relative;
    max-width: 420px;
    &__text {
      font-size: 15px;
      line-height: 1.3125;
      word-break: break-word;
      white-space: pre-wrap;
    }
  }
  &-arrow {
    position: absolute;
    bottom: 0;
    display: none;
    fill: var(--c-message-bg);
  }
  &-checkbox {
    position: absolute;
    inset: 0;
    // opacity: 0;
    opacity: 0;
    transform-origin: left;
    // scale

    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #fff !important;
    background-color: var(--c-ripple);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include defaultTransition(background-color, scale, transform, opacity);

    > .icon {
      @include withAnimations {
        animation: hide-icon 0.3s forwards ease;
      }
    }
  }

  > .avatar {
    @include defaultTransition(transform, scale);
  }
}
