/*
* анімації: 
https://github.com/morethanwords/tweb/blob/a86ac835c45ad0255caf12fa4af36657e4fe28ae/src/scss/partials/_transition.scss#L18
*/

.transition-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-fill-mode: forwards !important;
  &_inactive {
    display: none !important;
  }
  &_ui-lock {
    &.transition_item-from,
    &.transition-item_to {
      pointer-events: none !important;
      user-select: none !important;
    }
  }
}
.transition {
  position: relative;
  width: 100%;
  height: 100%;

  &_layout {
    transform-style: preserve-3d;
  }

  &-zoomSlide {
    /* Exited */
    > .transition-item_from {
      transform: scale(1);
      transform-origin: center;
      opacity: 1;
      animation: zoom-fade-out 0.25s ease-in-out;
    }

    /* Entered */
    > .transition-item_to {
      transform: translateX(100%);
      animation: slide-in-200 0.25s ease-in-out;
    }
  }

  &-zoomSlideBackwards {
    /* Exited */
    > .transition-item_from {
      animation: slide-in-200-backwards 0.25s ease-in-out;
    }

    /* Entered */
    > .transition-item_to {
      transform: scale(0.8);
      opacity: 0;
      animation: zoom-fade-out-backwards 0.25s ease-in-out;
    }
  }

  &-zoomFade,
  &-zoomFadeBackwards {
    > .transition-item_from,
    &_from {
      animation: zoom-fade-out 250ms ease;
    }

    > .transition-item_to,
    &_to {
      animation: zoom-fade-in 250ms ease;
    }
  }

  &-fade,
  &-fadeBackwards {
    > .transition-item_from,
    &_from {
      animation: fade-out 0.25s ease-out;
    }

    > .transition-item_to,
    &_to {
      animation: fade-in 0.25s ease-out;
    }
  }

  &-slide {
    > .transition-item_from,
    &_from {
      animation: slide-out 300ms cubic-bezier(0.25, 1, 0.5, 1);
    }

    > .transition-item_to,
    &_to {
      transform: translateX(100%);
      animation: slide-in 300ms cubic-bezier(0.25, 1, 0.5, 1);
    }
  }
  &-slideBackwards {
    > .transition-item_from,
    &_from {
      animation: slide-in-backwards 300ms cubic-bezier(0.25, 1, 0.5, 1);
    }

    > .transition-item_to,
    &_to {
      transform: translateX(-100%);
      animation: slide-out-backwards 300ms cubic-bezier(0.25, 1, 0.5, 1);
    }
  }

  &-slideY {
    > .transition-item_from,
    &_from {
      animation: slide-y-out cubic-bezier(0.25, 1, 0.5, 1);
    }

    > .transition-item_to,
    &_to {
      transform: translateY(100%);
      animation: slide-y-in cubic-bezier(0.25, 1, 0.5, 1);
    }
  }

  &-slideYBackwards {
    > .transition-item_from,
    &_from {
      animation: slide-y-in-backwards cubic-bezier(0.25, 1, 0.5, 1);
    }

    > .transition-item_to,
    &_to {
      transform: translateY(-100%);
      animation: slide-y-out-backwards cubic-bezier(0.25, 1, 0.5, 1);
    }
  }

  &-slideFadeY {
    > .transition-item_from,
    &_from {
      animation: slide-y-move-out cubic-bezier(0.25, 1, 0.5, 1),
        fade-out 150ms ease;
    }
    > .transition-item_to,
    &_to {
      transform: translate3d(1.5rem, 0, 0);
      animation: slide-y-move-in cubic-bezier(0.25, 1, 0.5, 1),
        fade-in 150ms ease;
    }
  }
  &-slideFadeYBackwards {
    > .transition-item_from,
    &_from {
      animation: slide-y-move-in-backwards cubic-bezier(0.25, 1, 0.5, 1),
        fade-in-backwards 150ms ease;
    }
    > .transition-item_to,
    &_to {
      transform: translate3d(-1.5rem, 0, 0);
      animation: slide-y-move-out-backwards cubic-bezier(0.25, 1, 0.5, 1),
        fade-out-backwards 150ms ease;
    }
  }

  &-zoomIcon,
  &-zoomIconBackwards {
    > .transition-item_from,
    &_from {
      animation: zoom-icon-out 300ms ease-out;
    }

    > .transition-item_to,
    &_to {
      animation: zoom-icon-in 250ms cubic-bezier(0.34, 1.56, 0.64, 1);
    }
  }
}

@keyframes zoom-fade-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoom-fade-out {
  0% {
    transform: scale(1);

    opacity: 1;
  }
  100% {
    transform: scale(0.8);

    opacity: 0;
  }
}
@keyframes zoom-fade-out-backwards {
  0% {
    transform: scale(0.8);

    opacity: 0;
  }
  100% {
    transform: scale(1);

    opacity: 1;
  }
}

@keyframes slide-in-200 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-200-backwards {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide-in-backwards {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slide-out-backwards {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-y-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slide-y-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-y-in-backwards {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes slide-y-out-backwards {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-y-move-in {
  0% {
    transform: translate3d(0, 1.5rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-y-move-out {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -1.5rem, 0);
  }
}
@keyframes slide-y-move-in-backwards {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 1.5rem, 0);
  }
}
@keyframes slide-y-move-out-backwards {
  0% {
    transform: translate3d(0, -1.5rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fade-in-backwards {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out-backwards {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom-fade-in-move {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom-fade-in-backwards-move {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes zoom-fade-out-backwards-move {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-icon-in {
  0% {
    transform: scale(0.5);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-icon-out {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
